
.loginInputContainer {
    margin: 0 60px;
    margin-top: 34px;
  }
  
  .betweenInputs {
    height: 36px;
  }
  
  .forgotPassword {
    cursor: pointer;
    margin-top: 46px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #8CBFF8;
  }
  
  
  .loginBtn {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
  }